/* To do:
  Change Images
  Add appropriate Text
  Adjust Spacing
  Include Grey block with quote
  Add Footer
  Finish other pages
  Image and neighbouring text could be a single block with Left and right versions
  Decide how to set responsive sizing, conflict between max width and using vw units
*/

* {
  
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* ------- Make the page fill the screen -----*/
body {
  max-width: 100vw;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
}

/* ------- Use the header as a container and divide into a 6x6 grid -----*/
header {
  display: grid;
  grid-template-columns: (6,1fr);
  grid-template-rows: (6,1fr);
}


/* ------- Blocks for the header, logo, nav, title, image, white block -----*/
/* ------- Only need this to take up 1 square to 1 wide and 1 tall -----*/

#block1 {
  
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #EAD6CD;
    
    
  
}

/* ---- This is the logo ----*/
/* ------- Size the logo inside its grid square including a small margin -----*/
#block1 img{
  
 width: 30%;
 margin-left: 0.5vw;
 margin-top: 0.5vw;
 

}


/* ---- This is the nav bar block ----*/
/* ------- Nav square to take up the rest of row one, aligned to the right side-----*/
#block2 {
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #EAD6CD;
  

}

/* ------- Add some space between the top and right of the  nav bar----*/
#block2 nav  {
  margin-top: 3vw;
  margin-right: 2vw;
  /*border: black solid 2px;*/
  
}

/* ------- Style the navigation links, adding padding, space between and responsive font size----*/
#block2 nav a {
  text-decoration: none;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 1vw;
  
  
}

/* ---Make the nav link text black except for the contact link----*/
.nav_button {
  color: black;
}

/* ---Styling for the contact link, white text, blue backgroiund----*/

.contact_button {
  color: white;
  background-color: #4A5FC1;
  text-decoration: none;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 0.25rem;
  
}

/* ---Display the nav links horizontally----*/

#block2 nav li {
  list-style: none;
  display: inline;
  justify-items: end;
  /*border: green solid 2px;*/
  
}

/* ---- This is the title and text of the header ----*/
/* ---- Used grid to span half the grid width (3/6 columns)----*/
/* ---- Used grid to span 3 grid rows height (3/6 rows)----*/

#block3 {
  font-size: 1.5vw;
  text-align: left;
  padding: 5vw;
  padding-bottom: 0vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: #EAD6CD;
  
}

/* ---- This is painting of the hall----*/
/* ---- Used grid to span the other half of the grid width (3 columns)----*/
/* ---- Used grid to span 3 grid rows for height)----*/

#block4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 6;
  /*border: solid black 2px;*/
}

/* ---- Fill the container with the image----*/
 #block4 img {
  width: 100%;
  
}

/* ---- Include a white block on the left half of the grid below the pink so the painting looks like it overlaps pink area ----*/
/* ---- Fill the container with the image----*/
#block5white {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: white;
  
}


/* ------------------------Main Section--------------------*/
/* ---Create a new grid for the main section 2 columns wide and x rows tall---*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: (2,1fr);
 
}

/* ---- This is the row with the first photo and text on the main section of the page ----*/

#block6 {
  margin-top: 7vw;
  background-color: white;
  text-align: center;
  
}

#block6 img {
width: 90%;

}

#block7 {
  margin-top: 7vw;
  background-color: white;
  text-align: left;
  padding-left: 7vw;
  padding-right: 5vw;
  padding-top: 3vw;
  
  
}

/* ---- This is the row with the text and second photo on the main section of the page ----*/
#block8 {
  margin-top: 5vw;
  background-color: white;
  text-align: left;
  padding-left: 5vw;
  padding-right: 7vw;
  padding-top: 3vw;
}

#block9 {
  margin-top: 5vw;
  background-color: white;
  text-align: center;
  
}

#block9 img {
  width: 90%;
}


/* ------- Blocks for the footer section, map, contact will be here -----*/